<div class="row">
    <div class="col-auto ps-0 pe-0">
        <% if room.image.present? %>
        <% else %>
            <%= image_tag("default_message_icon.png", size: "60x60", class: "user-avarat-style") %>
        <% end %>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <p class="fw-semibold lh-1"><%= room.name %></p>
            </div>
            <div class="col-auto align-self-end">
                <p class="fs-6 lh-1"><%= room.updated_at.to_time.strftime("%d.%m.%Y %H:%M") %></p>
            </div>
        </div>
        <div class="row">
            <p class="lh-1"><%= room.last_message %></p>
        </div>
    </div>
</div>