<div class="row">
    <div class="col-auto ps-1 pe-1">
        <%= display_user_avatar_on_search user %>
    </div>
    <div class="col">
        <p class="fs-5"><%= user.username %></p>
    </div>
</div>